body {
    background: rgb(0, 80, 100);
}

header {
    color: white;
    text-align: center;
    font-size: 24px;

}

#titulo {
    margin-top: 64px;
    margin-bottom: 32px;
}

section {
    background: white;
    border-radius: 8px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgb(46, 44, 44);

}

div {
    text-align: center;
    padding: 12px;
}

#msg {
    font-size: 24px;
    color: rgb(7, 7, 59);
    font-family: sans-serif;
}


img {
    border-radius: 50%;
    width: 350px;
    height: 350px;
    
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}